<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/list.css">
</head>
<body>
    <div th:replace="~{schema.html :: sidebar}"></div>
    <div class="context">
        <h1>Borrowed Books</h1>
        <div th:replace="~{schema.html :: options-panel-borrowed}"></div>
        <table class="books-table">
            <thead>
                <tr>
                    <th>Book</th>
                    <th>Begin Date</th>
                    <th>Returned Date</th>
                    <th style="width: 10px"> </th>
                </tr>
            </thead>
            <tbody th:each="borrower : ${borrowers}">
                <tr>
                    <td th:text="${borrower.book.title}" class="book"/>
                    <td th:text="${borrower.begin}" class="date"/>
                    <td th:text="${borrower.deadline}" class="date"/>
                    <td style="width: 10px">
                        <a class="action-button" style="width: 10px" th:href="@{/borrowed/owned/{bookId}/{borrowerId}(bookId=${borrower.book.id}, borrowerId=${borrower.id})}">↩</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>