<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/bookList.css">
</head>
<body>
    <div th:replace="~{schema.html :: sidebar}"></div>
    <div class="context">
        <h1>Books</h1>
        <div th:replace="~{schema.html :: options-panel}"></div>
        <table class="books-table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>ISBN</th>
                <th>Quantity</th>
                <th>Rent<br>Book</th>
            </tr>
            </thead>
            <tbody th:each="book : ${books}">
            <tr>
                <td th:text="${book.id}" class="title"/>
                <td th:text="${book.title}" class="title"/>
                <td th:text="${book.author}" class="author"/>
                <td th:text="${book.price + ' PLN'}" class="price"/>
                <td th:text="${book.isbn}" class="isbn"/>
                <td th:text="${book.quantity}" class="quantity"/>
                <td><a th:if="${isLogged}" th:href="@{/book/add/{id}(id=${book.id})}">➕</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>