<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/list.css">
</head>
<body>
    <div th:replace="~{schema.html :: sidebar}"></div>
    <div class="context">
        <h1>Books</h1>
        <div th:replace="~{schema.html :: options-panel}"></div>
        <table class="books-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th> </th>
                </tr>
            </thead>
            <tbody th:each="book : ${books}">
                <tr>
                    <td th:text="${book.id}" class="id"/>
                    <td th:text="${book.title}" class="title"/>
                    <td th:text="${book.author}" class="author"/>
                    <td th:text="${book.isbn}" class="isbn"/>
                    <td class="status"><a alt="Order book" th:if="${book.status == 1}" th:href="@{/books/confirm/{id}(id=${book.id})}">🛒</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>