body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

a {
    text-decoration: none;
    color: white;
}

#sidebar {
    width: 250px;
    height: 100vh;
    background: #333;
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
    transition: all 0.1s;
}

#sidebar .sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 0;
    list-style: none;
}

#sidebar ul li a {
    padding: 15px;
    font-size: 1.1em;
    display: block;
    color: #d1d1d1;
    text-decoration: none;
    transition: color 0.3s;
}

#sidebar ul li a:hover {
    color: #ffffff;
    background: #bbbbbb;
}

.logout-icon {
    font-size: 24px;
    color: #d1d1d1;
    text-decoration: none;
}

.logout-icon:hover {
    color: #fff;
}

@media screen and (max-width: 768px) {
    #sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }
}

.context {
    min-width: 1200px;
    min-height: 900px;
    margin-left: 250px;
    margin-top: -21px;
}

.options-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.option-button {
    background-color: #5a6abf;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 16px;
    cursor: pointer;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.option-button:hover, .option-button:focus {
    background-color: #6b7ccf;
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 768px) {
    .options-panel {
        justify-content: space-around;
    }

    .context {
        min-width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }
}

h1 {
    width: 100%;
    background: #6d7fcc;
    color: white;
    text-align: center;
    padding: 32px;
    margin-top: 19px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
    margin: 100px auto;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.input-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #5969be;
    color: white;
    cursor: pointer;
}

.input-group button:hover {
    background-color: #7d8fe7;
}