<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div th:replace="~{schema.html :: sidebar}"></div>
    <div class="context">
        <h1>Books</h1>
        <div class="options-panel">
            <a href="/list-books" class="option-button">List of Books</a>
            <a href="/add-book" class="option-button">Add Book</a>
            <a href="/search-book" class="option-button">Search Book</a>
        </div>
    </div>
</body>
</html>