<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>

<nav id="sidebar" th:fragment="sidebar">
  <div class="sidebar-header">
    <h3><a href="/panel">Library System</a></h3>
    <a href="/logout" class="logout-icon">&#x2716;</a>
  </div>
  <ul class="list-unstyled components">
    <li>
      <a href="/panel">Home</a>
    </li>
    <li>
      <a href="/books">Books</a>
    </li>
    <li>
      <a href="/borrowed">Borrowed Books</a>
    </li>
    <li>
      <a href="/overdue">Overdue borrower</a>
    </li>
  </ul>
</nav>


<div id="options-panel" class="options-panel" th:fragment="options-panel">
  <a href="/books/list" class="option-button">List of Books</a>
  <a href="/books/add" class="option-button">Add Book</a>
  <a href="/search-book" class="option-button">Search Book</a>
</div>

</body>
</html>